$primary: #e54360;
$blue:    #0082ca;
$green:   #6bcbb8;
$red:     #ff4438;
$lab-red: #e4003b;
$yellow:  #f6e948;

$black-blue: #003a5d;
$black-grey: #262628;
$light-grey: #d6d1c4;
$blue-grey: #dce3eb;

$link: $blue;